.google-text-logo{
  padding: 1rem;
}
.google-logo{
  width:20rem;
  height: 10rem;
  margin-top: 1rem;
  text-align: center;
  margin-left: 28rem;
 margin-bottom: none;
}

.search-bar{
  border-radius: 18px;
  padding: 0.5rem;
  padding-top: 0.9rem;
  width: 35rem;
  box-shadow: 5px 5px 28px 3px rgba(0,0,0,0.28);
  transition: transform 300ms ease;
  margin-left: 22rem;
  margin-top: none;
  border: none;
}
.search-bar:hover{
  transform: scale(1,1);
}
.button1,.button2{
font-size: 1rem;
padding: 0.8rem;

border-radius: 0.5rem;
border-color: #f8f9fa;
background-color: #F8F9FA;
margin-top: 1.5rem;

}
.button2{
  margin-left: 2.9rem;
  width: 12%;
  height: 2.8rem;
}
.button1{
  margin-left: 27rem;
  width: 12%;
  height: 2.8rem;
}
.header-left{
  display: flex;
  margin-top: 1rem;
  
}
.left-header2{
  margin-left: 0.9rem;
}
.left-header1{
  margin-left: 1rem;
}
.right-header2{
  display: flex;
  margin-bottom: 0rem;
}
.right-header2-Images{
  margin-left: 0.9rem;
}
.sagun-Image{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-top: 0rem;
  margin-right: 1.5rem;;
  
}
.icon{
  width: 1.2rem;
  height:1.2rem;
  margin-right: 1rem;
  
}
.right-header1{
  display: flex;
  margin-left:2rem;
}
.header-right{
  display: flex;
  margin-top: 1rem;
}
.header-container{
  display: flex;
  justify-content: space-between;
}